/*o cursor ficara 30 px pra esquerda, e 30 px para baixo das dimensoes da imagem do cursor.*/
html {
	cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}


body {
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
}

.mosquito1{
	width: 50px;
	height: 50px;
}

.mosquito2{
	width: 70px;
	height: 70px;
}

.mosquito3{
	width: 90px;
	height: 90px;
}
/*eu poderia deixa o ladoA sem configuração, porque o lado A é a configuração padrão da imagem, o que será invertido é o lado B*/
.ladoA{
	transform: scaleX(1);
}

/*a imagem será invertida na posição X ou seja se na posição original o mosquito olha pra esquerda, com essa configuração randomica
ele pode também aparecer olhando pra direita, O -1 inverte a posição.*/
.ladoB{
	transform: scaleX(-1);
}

.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
}

.vidas {
	float: left;
}

.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}